body {
  font-family: Arial, sans-serif;
  font-size: 16px;
    background-image: url("farm-dusk-GettyImages-134305554.webp");
  background-color: #e8f0d2; /* set background color */

}

/* Header styles */
header {
  background-image: url('https://images.unsplash.com/photo-1541545933708-9c9d51d75e8d'); /* add farm field background image */
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 { color: #9bc53d; font-family: 'Righteous', cursive; font-size: 65px; font-weight: normal; line-height: 60px; margin: 10px 0 20px; text-transform: uppercase; text-shadow: 2px 2px 0 #000; text-align: center; }
/* Form styles */
form {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

label {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: #3a3a3a;
}

input[type="text"], select {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

/* Button styles */
button {
  background-color: #9bc53d;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8ab931;
}

/* Dropdown styles */
.dropdown {
  position: block;
  display: block;
  margin-bottom: 20px;
}

.dropdown-btn {
  background-color: #9bc53d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  display: block;
  width: 50%;
  position: relative;
  transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
  background-color: #8ab931;
}

.dropdown-content {
  display: none; /* set display to inline-block */
  position: relative; /* set position to absolute */
  top: 50%; /* align to the bottom of the dropdown button */
  left: 25%; /* align to the horizontal center of the button */
  /* transform: translateX(-10%); adjust horizontal alignment to center */
  min-width: 100px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content select {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 50%;
  align-items: center;
  margin-top: 10px;
  padding-left: 200
  left = 200%;
}
.dropdown ul li a:hover{
  color: var(--color-primary);
}
.dropdown menu{
  display: block;
  position: absolute;
  background-color : gray;
}
.dropdown ul{
  display: block
}

/* Additional styles */

.container
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup
{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup
{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  
}

.popup img
{
  width: 100px;
  margin-top: -50px;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}

.popup h2
{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
  
}

.popup button
{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0 ;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Data for container_00 - User should not plant in specified area */

.container_no
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_no
{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup_no
{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  
}

.popup_no img
{
  width: 100px;
  margin-top: -50px;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}

.popup_no h2
{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
  
}

.popup_no button_no
{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0 ;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}